.section-title h1 {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 25px;
}

#header{
    font-size: 60px;
    margin-left: 40%;
    color: rgb(70, 68, 68);
}
.navbar{
    background-color: #abc0d1;
    display: flex;
    flex-direction: row;
    
}
footer {
    margin-top: 3%;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #abc0d1;
    color: white;
    text-align: center;

  }
.nav-link{
    font-size: 20px;
    color: #ad7f59;
}
a:hover {
    background-color: rgb(185, 203, 238);
  }